<li>
	{{burger_name}}

	<button class="change-devour mySecondBtn" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devour it!
		{{else}}YUM!
		{{/if}}
	</button>
{{!-- 
	<button class="delete-cat" data-id="{{this.id}}">Ate!</button> --}}
</li>